.cardWrapper {
    opacity: 1;
    position: absolute;
    top: 300px;
    left: 450px;

    background: linear-gradient(113.84deg, #ffffff4d 1.56%, #ffffff00 100%);
   
    backdrop-filter: blur(40px);
    border: solid 2px #ffffff;
    border-radius: 40px;
    width: 718px;
    height: 496px;
}

.cardTitle {
    margin-left: 50px;
    font-size: 40px;
    font-weight: 400;
}

.cardDescr {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
}

.tempDescr {
    margin-left: 50px;
    font-size: 20px;
}

.cardWph {
    display: flex;
    margin-left: 50px;
    justify-content: space-between;
    padding: 24px 0px 30px 0px;
    font-size: 20px;
    font-weight: 400;
    width: 530px;
}

.tempForTime {
    display: flex;
    justify-content: space-between;
    width: 672px;
}
.tempForTime .time{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px;

    width: 120px;
    height: 150px;
    font-size: 20px;
    font-weight: 500;
}
.tempForTime .time span{
    font-size: 16px;
    font-weight: 400;
}
.tempForTime .time .medi{
    font-size: 20px;
    font-weight: 500;
}
.tempForTime .time .semi{
    font-size: 20px;
    font-weight: 600;
}

.iconCard {
    position: absolute;
    top: 60px;
    right: 60px;
}