.wrapper {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    top: 192px;
    width: 1140px;
    height: 192px;
    text-align: left;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    
    width: 420px;
    height: 192px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 724px;
    height: 192px;
}



.wrapper .date{
    font-family: 'Poppins', sans-serif;
    margin-left: -3px;
    color: #000000;
    font-size: 24px;
}

.wrapper .city{
    margin-left: -4px;
    margin-top: -6px;
    font-size: 40px;
    font-weight: 600;
}

.feelsLike {
    margin-left: -2px;
    margin-top: -6px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

.wph {
    margin-left: -2px;
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    width: 416px;
}

.descr {
    margin-left: -3px;
    margin-bottom: -6px;
    font-size: 24px;
    font-weight: 500;
}

.tempDegrees{
    position: absolute;
    right: 68px;
    top: -52px;
    font-size: 220px;
    font-weight: 500;
}

.icon {
    position: absolute;
    width: 714px;
    height: 649px;
    left: 600px;
    top: -190px;
    z-index: -1;
}