.appHeader {
    height: 104px;
    width: 100%;
    display: flex;
}
.appHeader img{
   margin-top: auto;
}

@media (min-width: 320px) and (max-width: 576px) {
    .appHeader{
        height: 40px;
    }
    .appHeader img {
        width: 140px;
    }
}

