.wrapperApp {
  width: 1140px;
  /* border-left: rgba(0, 0, 0, 0.5) solid 1px;
  border-right: rgba(0, 0, 0, 0.5) solid 1px; */

  margin:0 auto;
  color: #000000;
  min-height: 100vh;
  box-sizing: border-box;
}

