  .appFooter {
    padding-top: 8px;
    position: fixed;
    bottom: 0;
    padding: 8px;
    font-size: small;
    text-align: center;
    background-color: #282c34;
    border: solid 1px rgba(90, 90, 68, 0.3)
}

.footerLink {
    color: #61dafb;
    text-decoration: none;
}

  